sup{
    color: orange;
}

a, a:hover, a:active {
    text-decoration: none;
    color: #fff;
}

.full {
	z-index:100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:#40494f; 
}
.red {
	color: red;
}

h3 {
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-align: center;
    font-size: 22pt;
    background-color: #262626;
    color: #fff;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-align: center;
    font-size: 22pt;
    background-color: #262626;
    color: #fff;
}

body, html {
	background-color: #40494f;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
}

.body {
    color: #fff;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.brand {
    display: inline-block;
    text-align: center;
    color: #262626;
    padding: 0 5px 0 5px;
    border-radius: 3px;
    background-color: #ff9900;
}

.table {
    max-width: 95%;
}

h3:nth-of-type(1) {
    order: 2;
}

h3:nth-of-type(2) {
    order: 3;
}

table:nth-of-type(1) {
    order: 2;
}

table:nth-of-type(2) {
    order: 3;
}

table:nth-of-type(3) {
    text-align: center;
    order: 1;
}

th {
    background-color: #00000020;
}

tr:hover {
    background-color: #00000010;
}

.new {
    border: 1px solid orange;
}

.grouplist {
	background-color: #00000020;
	text-align: center;
	line-height: 30px;
}
.group {
	background-color: #ffffff10;
	border-radius:3px;
	padding:3px;
	color:#fff;
}
.group-new {
	background-color: #FF8800;
}
@media screen and (max-width: 640px) {
    .icons {
        display: none;
    }
}
@media screen and (min-width: 980px) {
	.brand {
    display: inline-block;
    text-align: center;
    color: #262626;
    padding: 0 5px 0 5px;
    border-radius: 3px;
    background-color: #ff9900;
	}
	.icons {
        font-size: 18pt;
    }
    .body {
	width: 85%;
	display: flex;
    flex-flow: column;
	align-self: center;
    align-items: center;
	}
}